@import url("https://fonts.googleapis.com/css?family=GFS+Neohellenic");
@import url("https://fonts.googleapis.com/css?family=Delius");
@import url("https://fonts.googleapis.com/css?family=Amita");

body, h1, h2, h3, h4, h5, h6, a {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; }

.App {
  text-align: center;

}
